/Android/.gradle/
/Android/.idea/dictionaries
/Android/.idea/libraries/
/Android/.idea/workspace.xml
/Android/.navigation/
/Android/.settings/
/Android/build/
/Android/app/build/
/Android/app/src/main/java/net/kw/shrdlu/grtgtfs/TwitterCredentials.java
/Android/local.properties
/data/sqlite3
/lisp/*.fas
/lisp/*.lib
/lisp/tmp/
/.gitreview
*~
