/Android/.gradle/
/Android/.idea/workspace.xml
/Android/.idea/libraries/
/Android/.navigation/
/Android/.settings/
/Android/app/build/
/Android/build/
/Android/app/src/main/java/net/kw/shrdlu/grtgtfs/TwitterCredentials.java
/data/sqlite3
/.gitreview
